<div style="background: #f0f5f9;min-height: 100vh;">
    <div class="container">
        <div class="wrapper-form p-4">
            <h2 class="header"><i class="fa-solid fa-envelope"></i>
                <span class="m-3">Xác nhận email</span>
            </h2>
            <small>Vui lòng nhập email của bạn để chúng tôi có thể gửi cho bạn một liên kết để đặt lại mật khẩu.</small>
            <div *ngIf="" class="alert alert-success mt-2">Kiểm tra link xác nhận tại email của bạn</div>
            <div *ngIf="" class="alert alert-danger mt-2">Đã có lỗi xảy ra</div>
            <form #send_email="ngForm" (ngSubmit)="onSendEmail(send_email)">

                <div class="mb-3 mt-3">
                    <label for="regEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="regEmail" placeholder="tiendeptrai@email.com"
                        name="email" [(ngModel)]="model.email" #email="ngModel" autocomplete required email>
                </div>
                <div *ngIf="email.touched && email.errors?.['email']" class="text-danger mb-3">Nhập đúng email</div>
                <button class="btn btn-custom w-100 mb-2" type="submit">Xác nhận</button>
                <a routerLink="/">Quay lại</a>
            </form>
        </div>

    </div>
</div>