/* You can add global styles to this file, and also import other style files */
.btn {
    background-color: #6C7EE1;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .btn-custom {
    background-color: #6C7EE1;
    color: white;
}

.btn-custom:hover {
    background-color: #6C7EE1;
}
